* {
    padding: 5px;
    margin: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    align-items: center;
    background-color: rgb(255, 249, 249);
    font-size: 12px;
    font-family: sans-serif;
    transition: 1s ease;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

.card:hover {
    background-color: rgb(195, 195, 196);
    transform: scale(1.02);
}

img {
    height: 320px;
    width: 120px;
}